.backImg {
  //background-image: url('../../../public/clair-logo-white.svg');
}

.backgroundColor {
  background-color: wheat;
}

.marginTop {
  margin-top: 100px;
}

.tenantLogoContainer {
  min-height: 5rem;
  @apply pt-8;
}

.loginButton {
  @apply w-32 h-10 ;
  padding-bottom: 10px;
}

.gradeButtonWrapper {
  @apply pr-4;

  &:last-of-type {
    @apply pr-0;
  }

  .gradeButton {
    @apply text-xs w-full max-h-2;
  }
}

.errorMessage {
  color: red !important;
}