.topHeight{
  margin-top: 2rem !important;
}

.backImg{
  //background-image: url('../../../public/clair-logo-white.svg');
}
.backgroundColor {
    background-color: wheat;
    //background-color: #64c3d1;
    width: 80%;
}

.tenantLogoContainer {
    min-height: 5rem;
    @apply pt-8;
}

.loginButton {
    @apply  w-32 h-10 ;
    padding-bottom: 10px;
}

.gradeButtonWrapper {
    @apply pr-4;
  
    &:last-of-type {
      @apply pr-0;
    }
  
    .gradeButton {
      @apply text-xs w-full max-h-2;
    }
  }

  .errorLabelUrlAndTitle {
    @apply pt-2 pb-1 mt-3 text-sm;
  }

  .label {
    @apply pt-2 text-sm;
  }